<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="./imgs/logo-mercado-liebre.svg" alt="Logo">

        <nav class="search-bar">
            <input type="text" placeholder="Search"><i class="fas fa-search"></i>
        </nav>

        <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        <nav class="nav-bar">
            <ul type="none">
                <li><a href=# alt="Ofertas">Ofertas</a></li>
                <li><a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href=# alt="Vender">Vender</a></li>
                <li><a href=# alt="Ayuda">Ayuda</a></li>
            </ul>
        </nav>

        <nav class="login-bar">
            <ul type="none">
                <li><a href=# alt="Creá tu cuenta">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                <li><a href=# alt="Ingresá">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href=# alt="Mis Compras">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <section class="last-visit">

            <h2>Basado en tu última visita</h2>

            <article class="article-general">
                <img src="./imgs/img-cafetera-moulinex.jpg" alt="Cafetera">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung 43">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones">Smart Tv Samsung 43"</p>
                </article>
            </article>

        </section>

        <section class="deals">

            <h2>Ofertas</h2>

            <article class="article-general">
                <img src="./imgs/img-cafetera-moulinex.jpg" alt="Cafetera">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p> class="precios"
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </article>
            </article>

            <article class="article-general">
                <img src="./imgs/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung 43">
                <article class="article-description">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos class=" descripciones"">5% OFF</p>
                    <p class="descripciones">Smart Tv Samsung 43"</p>
                </article>
            </article>

        </section>
    </main>

    <footer>
        <ul type="none">
            <section class="credit-card">
                <i class="fas fa-credit-card"></i>
                <li><strong>Paga con tarjeta o en efectivo</strong></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>

            <section class="free-shipping">
                <i class="fas fa-gift"></i>
                <li><strong>Envío gratis desde $2.500</strong></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>

            <section class="security">
                <i class="fas fa-user-shield"></i>
                <li><strong>Seguridad, de principio a fin</strong></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </section>

            <section class="copyright">
                <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
            </section>
        </ul>
    </footer>
</body>

</html>