<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/src/public/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="./imgs/logo-mercado-liebre.svg" alt="Logo">
        
        <p>Lugar para poner la barra de búsqueda</p>
        
        <p>Compá en cuotas y sin tarjeta de crédito</p>

        <ul>
            <li><a href=# alt="Ofertas">Ofertas</a></li>
            <li><a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href=# alt="Vender">Vender</a></li>
            <li><a href=# alt="Ayuda">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href=# alt="Creá tu cuenta">Creá tu cuenta</a></li>
            <li><a href=# alt="Ingresá">Ingresá</a></li>
            <li><a href=# alt="Mis Compras">Mis Compras</a></li>
        </ul>
    </header>

    <main>
        <section>

            <h2>Basado en tu última visita</h2>

            <img src="./imgs/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="./imgs/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img src="./imgs/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img src="./imgs/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung 43">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>Smart Tv Samsung 43"</p>
        </section>

        <section>

            <h2>Sección de Ofertas</h2>

            <img src="./imgs/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="./imgs/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img src="./imgs/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img src="./imgs/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung 43">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>Smart Tv Samsung 43"</p>
        </section>
    </main>

    <footer>
        <ul>
            <li><strong>Paga con tarjeta o en efectivo</strong></li>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

            <li><strong>Envío gratis desde $2.500</strong></li>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            <li><strong>Seguridad, de principio a fin</strong></li>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>

            <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
        </ul>
    </footer>
</body>
</html>