<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="main-header">
            <a href="/" class="logo">
                <img href="/" src="./imgs/logo-mercado-liebre.svg" alt="Logo">
            </a>

            <nav class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </nav>

            <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="main-navbar">
            <ul type="none" class="nav-bar">
                <li><a href=# alt="Ofertas">Ofertas</a></li>
                <li><a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href=# alt="Vender">Vender</a></li>
                <li><a href=# alt="Ayuda">Ayuda</a></li>
            </ul>

            <ul type="none" class="login-bar">
                <li><a href="registrate" alt="Creá tu cuenta">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                <li><a href=# alt="Mis Compras">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <form class="login-form" action="/" method="GET">
            <div class="login-field">
                <input type="text" name="user" id="user" placeholder="Nombre de usuario" required class="login-input"></input>
                <span>

                </span>
            </div>

            <div class="login-field">
                <input type="password" name="pass" id="pass" placeholder="Contraseña" required class="login-input"></input>
                <span>

                </span>
            </div>

            <div class="register-buttons">
                <button type="submit" class="send-button">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <ul type="none">
            <section class="credit-card">
                <i class="fas fa-credit-card"></i>
                <li><strong>Paga con tarjeta o en efectivo</strong></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>

            <section class="free-shipping">
                <i class="fas fa-gift"></i>
                <li><strong>Envío gratis desde $2.500</strong></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>

            <section class="security">
                <i class="fas fa-user-shield"></i>
                <li><strong>Seguridad, de principio a fin</strong></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </section>

            <section class="copyright">
                <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
            </section>
        </ul>
    </footer>
</body>

</html>