/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
}

header img {
    display: block;
    width: 30%;
    padding: 10px;
}

header .search-bar {
    text-indent: 10px;
}

header .nav-bar, header .login-bar {
    display: none;
}

header p {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 10px;
}

.burger-menu {
    background-color: #03264C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

body {
    font-family: roboto;
    font-size: 12px;
    background-color: #ebebeb;
}

h2 {
    font-size: 24px;
    color: #666;
}

main {
    width: 90%;
    margin: auto;
}

main article img {
    width: 100%;
}

main article i {
    font-size: 14px;
    border: 1.3px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    color: #39b54a;
}

.last-visit article {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-description {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}


.precios {
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    margin-top: -15px;
}

.descripciones {
    display: none;
    font-size: 16px;
    color: #666;
}

footer {
    text-align: center;
    width: 100%;
    display: block;
    margin-left: -20px;
}

footer i {
    background-color: white;
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}


/*Tablet navigation*/
@media (min-width: 361px){
    main .article-general {
        width: 100%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripciones {
        display: block;
        color: #666;
        font-size: 16px;
    }

    header .nav-bar, header .login-bar {
        display: inline;
    }

    .burger-menu {
        display: none;
    }
}

/*Desktop navigation*/
@media (min-width: 769px){
    main .article-general {
        width: 100%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripciones {
        display: block;
        color: #666;
        font-size: 16px;
    }

    header .nav-bar, header .login-bar {
        display: inline;
    }

    .burger-menu {
        display: none;
    }
}