/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 500;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    margin: auto;
    flex-grow: 1;
    width: 150px;
    max-width: 200px;
    margin-bottom: 20px;
}

.form-searchbar {
    position: relative;
    display: block;
    flex-grow: 1;
    margin: 0 20px;
}

.form-searchbar i {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 15px;
    color:rgb(100, 100, 100);
}

.search-bar {
    position: relative;
    border: none;
    width: 100%;
    padding: 11px;
    border-radius: 7px;
    font-size: 1.2em;
}

.main-navbar {
    display: none;
}

.header-text {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 17px;
}

.burger-menu {
    background-color: #03264C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    font-size: 19px;
}

body {
    font-family: roboto;
    font-size: 12px;
    background-color: #ebebeb;
}

h2 {
    font-size: 24px;
    color: #666;
}

main {
    margin: auto;
    width: 90%;
}

.home-banner {
    width: 100%;
    margin-top: 260px;
}

.article-general {
    background-color: white;
    margin: 25px 0;
    position: relative;
}

.article-general img {
    width: 100%;
}

.article-description {
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding-bottom: 5px;
}

.article-description i {
    display: block;
    position: absolute;
    right: 25px;
    bottom: 90px;
    font-size: 30px;
    max-width: 60px;
    border-radius: 50%;
    padding: 10px;
    border: #39b54a 1.3px solid;
    color: #39b54a;
}

.precios {
    font-size: 22px;
    color: #666;
    font-weight: bold;
}

.descuentos {
    font-size: 20px;
    color: #39b54a;
}

.descripciones {
    display: none;
    font-size: 20px;    
    color: #666;
}

.register-form, .login-form {
    width: 90%;
    margin: auto;
    margin-top: 280px;
    margin-bottom: 200px;
}

.register-field, .login-field {
    display: block;
    margin: 40px 0;
    font-size: 18px;
    width: 100%;
}

.register-input, .login-input {
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 7px;
}

.register-date, .register-interest, .register-profile {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

.register-user {
    margin: 0 15px;
}

.register-buttons {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.send-button, .reset-button {
    padding: 15px;
    font-size: 1.5em;
    border-radius: 15px;
    margin: 0 40px;
    border: none;
    background-color: #186ded;
    color: #FFF;
    transition: all 450ms;
}

.send-button:hover, .reset-button:hover {
    background-color: #0022AA;
}


footer {
    text-align: center;
    width: 100%;
    display: block;
    margin-left: -20px;
    font-size: 15px;
}

footer i {
    background-color: white;
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

/*Small devices*/
@media (min-width: 367px){
    .home-banner {
        margin-top: 240px;
    }

    .register-form, .login-form {
        margin-top: 260px;
    }
}

/*Medium devices*/
@media (min-width: 420px){
    .home-banner {
        margin-top: 190px;
    }

    .register-form, .login-form {
        margin-top: 220px;
    }

    .search-bar {
        bottom: 12px;
        font-size: 1.2em;
    }

    .form-searchbar i {
        top: 0px;
    }
}


/*Tablet navigation*/
@media (min-width: 864px){
    header {
        margin-top: -17px;
    }

    .search-bar {
        margin-left: 30px;
        padding: 15px;
    }

    .form-searchbar i {
        top: 5px;
        right: -18px;
    }

    .header-text {
        margin: none;
        text-align: right;
        max-width: 350px;
        font-size: 25px;
    }

    .main-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #222222;
        margin: 0;
        padding: 0;
    }

    .main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .main-navbar li {
        padding: 0 10px;
    }

    .main-navbar a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        padding-right: 3px;
        font-size: 17px;;
    }

    .burger-menu {
        display: none;
    }

    .home-banner {
        margin-top: 160px;
    }

    .article-general {
        width: 48%;
    }
    
    .last-visit, .deals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-description {
        text-align: left;
        margin-left: 10px;
    }

    .article-description i {
        margin-top: -30px;
        font-size: 27px;
        padding: 15px;
        max-width: 65px;
        background-color: #FFF;
        border: 1.3px solid #39b54a;
    }

    .precios {
        font-size: 25px;
    }
    
    .descuentos {
        margin-left: 10px;
        font-size: 20px;
        font-weight: lighter;
    }

    .descripciones {
        display: block;
        margin-top: -10px;
        color: #ababab;
        font-size: 22px;
    }    

    .precios, .descuentos {
        display: inline-block;
    }

    .register-form h2, .login-form h2 {
        width: 50%;
        margin: auto;
    }

    .register-field, .login-field {
        width: 50%;
        margin: auto;
    }

    .register-input, .login-input {
        margin: 20px 0;
    }
    
    .register-date, .register-interest, .register-profile {
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .register-interest {
        margin-top: 40px;
    }

    .register-profile {
        margin: 20px 0;
    }
}

/*Desktop navigation*/
@media (min-width: 1200px){
    .main-header, .main-navbar {
        max-width: 1200px;
        padding: 5px 0;
        margin: auto;
    }

    .header-text {
        font-size: 25px;
        font-weight: 400;
    }

    .main-navbar {
        margin-top: 20px;
    }

    .main-navbar a, .main-navbar i {
        font-size: 18px;
    }

    .article-general {
        width: 23%;
        transition: all 450ms;
    }

    .article-general:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    footer {
        width: 99%;
        border-top: solid 2px #ababab;
        margin-top: 50px;
        margin-left: 7px;
    }

    footer ul {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-top: 50px;
    }

    footer section {
        max-width: 300px;
    }

    footer i {
        transition: all 450ms;
    }

    footer i:hover {
        color: #84b8a2;
        font-size: 2.3em;
    }

    .copyright {
        width: 100%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}